{% load staticfiles %}
#top{
    background-position-x: 320px;
    background: blue;
    margin-left: 0px;
	margin-top: 0px;
}
.btnStyle1 {
    background-color: aliceblue;
    border-radius: 6px;
    width: 100px;
    height: 50px;
}