<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>人脸表情识别</title>
    <link href="/static/css/styles.css" rel="stylesheet" type="text/css" />
</head>

<form method="post">
<body id="top" >
<div id="fk" class="section" align="center" style="bottom: 10px;right: 100px">
    <span>
        <p> - </p>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <button class="btnStyle1" type="button" name="开始" id="begin" value="开始"
                onclick="window.open(location.href='begin',_parent)">开始</button>
        <br />
        <br />
        <button class="btnStyle1" type="button" name="退出" id = "quit" value="退出" onclick=window.close()>退出</button>
    </span>

</div>
</body>
</form>
</html>