<!DOCTYPE html>
<html>
    <head>
        <title>My Web Page!</title>
        <style>
            .foo {
                color: blue;
            }
        </style>
    </head>
    <body>
        <p class="foo">This is the first paragraph.</p>
        <p>This is the second paragraph.</p>
        <p class="foo">This is the third paragraph.</p>
    </body>
</html>
{#安装setuptools过程：#}
{#(1)下载setuptools包#}
{## wget http://pypi.python.org/packages/source/s/setuptools/setuptools-2.0.tar.gz#}
{#(2)解压setuptools包#}
{## tar zxvf setuptools-2.0.tar.gz#}
{## cd setuptools-2.0#}
{#(3)编译setuptools#}
{## python setup.py build#}
{#(4)开始执行setuptools安装#}
{## python setup.py install#}
